nav{
    background-color:#D1DBBD;
}


header img{
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    max-width: 60px;
    padding:0%;
    margin: 0%;
}

#general{
    display: flex;
    justify-content: space-between;
}

img{
    height: 15vh;
}


.liste{
    display: flex;
    justify-content: space-around;
    align-content: center;
    border: solid;
    }

.lot1{
   
    background-image: url(./images/imgh3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }

baseline{
    display: flex;
    justify-content: center;
}
