    nav{
        background-color: #D1DBBD;
    }
    .menu{
        display: flex;
        justify-content: flex-end;
        padding-bottom: 2px;
    
    }

   header img{
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        max-width: 60px;
        padding:0%;
        margin: 0%;
    }


    footer{
        display: flex;
        justify-content: flex-end;
    }

.bienvenue{
    background-image: url(./images/imgh3.jpg);
    width: 100%;
    height: 75vh;
    background-size: cover;
    
}
.languages{
    display: flex;
    justify-content: flex-start;
}

footer{
background-color: #D1DBBD;
}
h1{
    display: flex;
    justify-content: center;
}



